<header>
  <div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <nav class="collapse navbar-collapse">
    <div>
      <a href="https://www.google.com/" class="navbar-brand">Ezzat</a>
    </div>

    <ul class="navbar-nav">
      <li>
        <a routerLink="/welcome/in28minutes" class="nav-link" *ngIf="hardCodedAuth.isUserLoggedIn()">Home</a>
      </li>
      <li>
        <a routerLink="/todos" class="nav-link" *ngIf="hardCodedAuth.isUserLoggedIn()">Todos</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li>
        <a routerLink="/login" class="nav-link" *ngIf="!hardCodedAuth.isUserLoggedIn()">Login</a>
      </li>
      <li>
        <a routerLink="/logout" class="nav-link" *ngIf="hardCodedAuth.isUserLoggedIn()">logout</a>
      </li>
    </ul>
  </nav>
  </div>
</header>
